.guideLine{
    border:1px dashed gray;
}

.guideLine-red{
    border:1px dashed red;
}

.inlineBlock{
    display: inline-block !important;
}

.inline{
    display: inline !important;
}

.fullWidth{
    width: 100% !important;
    max-width: 100% !important;
}

.fullHeight{
    height: 100% !important;
    max-height: 100% !important;
}

.overContentRelative{
    position:relative
}

.overContent-fixed{
    position: fixed;
}

.overContent-fixedBottom{
    position: fixed;
    bottom: 0;
    left: 0;
}

.overContent-fixedTop{
    position: fixed;
    top: 0;
    left: 0;
}

.overContent{
    position:absolute
}
.overContent-topCenter{
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-topLeft{
    top:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-topRight{
    top:0;
    right:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-bottomCenter {
    right:0;
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
}

.overContent-bottomRight{
    right:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-bottomLeft{
    bottom:0;
    left:0;
    margin-left:auto;
    margin-right:auto
}

.overContent-centerAll{
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto
}
.overContent-centerLeft{
    top:0;
    bottom:0;
    left:0;
    margin:auto
}

.overContent-centerRight{
    top:0;
    bottom:0;
    right:0;
    margin:auto
}

/*center div*/
.outerCenter{
    display:table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    margin-left: auto;
    margin-right: auto;
    /*width: *//*wharever width you want*/
}

.textCenter{
    text-align: center;
}

.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}

.displayBlock{
    display: block!important;
}

.displayInlineBlock{
    display: inline-block!important;
}

.centerBlock{
    display: block !important;
    margin: 0 auto;
}

.centerElementBlock{
    margin: 0 auto;
}

.floatLeft{
    float: left !important;
}

.floatRight{
    float: right !important;
}

.clearBoth{
    clear: both !important;
}

.notTextDecoration{
    text-decoration: none;
}

.hideElement{
    display: none!important;
}

.centerTextDiv{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.fontWeightBold{
    font-weight: bold;
}

.fontWeight600{
    font-weight: 600;
}

.fontWeight700{
    font-weight: 700;
}

.fontWeight900{
    font-weight: 900;
}

.fontStyleItalic{
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.italicFont{
    font-style: italic;
}

.upperCaseText{
    text-transform: uppercase;
}

.directionRtl{
    direction: rtl;
}

.noMarginTopBottom {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.colorWhite{
    color:white !important;
}

.overflowHidden{
    overflow: hidden;
}

.hiddenElement{
    display:none;
}

.cursorPointer{
    cursor:pointer;
}

.blueUNI{
    background: #003782;
}

.cursorMove{
    cursor: move;
}

.txtBlack{
    color:black;
}