.opacity65{
    opacity: .65;
}

.rowHover:hover{
    background: #60a86080 !important;
}

.all-scroll {cursor: all-scroll;}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.header{
	padding: 32px 0;
	background: #003782;
}

.footer{
	background: #003782;
	padding: 16px 0;
}

.main-header .logo .logo-lg img{
	height: 40px !important;
    width: 73px;
    margin-top: 7px;
}

.main-header .logo .logo-mini img{
	height: 30px !important;
    width: 50px;
    margin-top: 7px;
}

 .login-box, .register-box {
    margin-top: 12% !important;
    margin-bottom: 20% !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#logo-group>span{
    margin-top: 9px;
    margin-left: 0px;
}

#logo img {
    width: 68px;
    height: auto;
    padding-left: 3px;
    height: 34px;
    margin: 0 auto;
}

.groupQuestions ol button[data-action="collapse"]{
    display: none;
}

.groupQuestions ol button[data-action="expand"]{
    display: block;
}

.dt_table.dataTable tbody tr.selected {
    background-color: #f9f9f9 !important;
}

.dt_table.dataTable tbody tr:hover{
    cursor: pointer;
}

.tab-content {
    padding-top: 2em;
}

.iframeDialog#dialog {
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.message-box {
    border: 1px solid #8bc68e;
    color: #2e2e2e; }

.message-box-error {
    border: 1px solid #a0352f; }

.message-box-warning {
    border: 1px solid #a15426; }

.welcome .panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.jumbotron {
    background-color: #9cba9e;
    background-color: transparent;
    text-align: center;
}
.jumbotron.message-box {
    background-color: transparent;
}

#welcome-jumbotron{
    padding-bottom: 100px;
    padding-top: 100px;
}

.bgBlue003485{
    background-color: #003485;
}

.bcBlue003485{
    border-color: #003485;
}

.panel-clickable .panel-heading{
    background-color: #002060;
    border-color: #002060;
}

.panel-clickable a{
    color: #002060;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
}

#welcome-jumbotron > img{
    width: 250px;
}

.panel-clickable .panel-body > div > a > .fa{
    font-size: 58px;
    color: #003485;
    cursor:pointer;
}

.panel-clickable .panel-body > div > a > .fa:hover{
    color: #0f1685;
}

.inbox-info-bar {
    padding: 10px 0;
    border-bottom: 3px solid #003485;
    padding-bottom: 9px;
    margin-bottom: 15px;
}

.form-control{
    font-weight: 700;
    color: #000;
}

.outputEmail{
    border: 1px solid #ccc; height: 200px; overflow: scroll; text-align:left; padding-left:0.5em;
}

.textRed{
    color:red;
}

.textBlack{
    color: black;
}

.btnForce{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inbox-info-bar-yellowalternative{
    border-bottom: 3px solid #c79121;

}

.jarviswidget-initialHeight>header{
    height: auto;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .headerWidget{
        height: auto !important;
    }

    .headerWidget h2{
        width: 100% !important;
        text-overflow: initial !important;
        white-space: initial !important;
        overflow: initial !important;
        line-height: 24px !important;
        float: initial !important;
        margin-left: 0 !important;
        padding: 10px !important;
    }

    .header-text h1{
        font-size: 24px;
    }

    .header-text h1{
        font-size: 18px;
    }

    #block_error{
        width: initial;
    }

    #block_error div{
        padding: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

