h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

h1, .h1 {
    font-size: 39px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
.header{
    padding: 32px 0;
    background: #003782;
}

.header h1, .header h2{
    margin-bottom: 0;
    margin-top: 0;
}

.footer{
    background: #003782;
    padding: 16px 0;
}

.main-header .logo .logo-lg img{
    height: 40px !important;
    width: 73px;
    margin-top: 7px;
}

.main-header .logo .logo-mini img{
    height: 30px !important;
    width: 50px;
    margin-top: 7px;
}

.login-box, .register-box {
    margin-top: 12% !important;
    margin-bottom: 20% !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#logo-group>span{
    margin-top: 9px;
    margin-left: 0;
}

#logo img {
    width: 68px;
    height: auto;
    padding-left: 3px;
    margin: 0 auto;
}

.titleSurvey h1{
    /*margin-top: 21px;*/
    /*margin-bottom: 10.5px;*/
    /*font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-weight: 400;*/
    /*line-height: 1.1;*/
    /*color: inherit;*/
    font-size: 43px;
}

.ui-datepicker{
    z-index: 2 !important;
}

.adjustTableContent{
    width: initial;
}

.adjustTableContent > tbody > tr > td{
    white-space: nowrap;
    border-top: none;
}

.labelCommonError{
    padding: 2px;
    display: inline-block !important;
    background-color: #a90329!important;
    color: white !important;
}

#block_error {
    width: 845px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(../../img/block.gif) no-repeat 0 51px;
}

#block_error div {
    padding: 100px 40px 0 186px;
}

#block_error div h2 {
    color: #218bdc;
    font-size: 24px;
    display: block;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 12px;
    font-weight: normal;
}

#block_error p {
    font-size: 12px;
    color: #373737;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.redAsterisk{
    color: #b94a48 !important;
    font-size: 14px !important;
}

.btnNext{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mailto a{
    text-decoration: underline;
    font-size: 17px;
    color: #003782;
    font-weight: 700;
}

.btnsNavBar{
    padding-bottom: 20px;
    padding-top: 20px;
}

.amountQuestions{
    margin-top: 17px;
    padding-top: 17px;
}

.questionHelp{
    padding-bottom: 12px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .headerWidget{
        height: auto !important;
    }

    .headerWidget h2{
        width: 100% !important;
        text-overflow: initial !important;
        white-space: initial !important;
        overflow: initial !important;
        line-height: 24px !important;
        float: initial !important;
        margin-left: 0 !important;
        padding: 10px !important;
    }

    .header-text h1{
        font-size: 24px;
    }

    .header-text h1{
        font-size: 18px;
    }

    #block_error{
        width: initial;
    }

    #block_error div{
        padding: 10px;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}